.footer {
  background-color: #343a40;
  padding: 10px;
  text-align: center;
  border-top: 5px solid #1684bf;
  width: 100%;
  animation: fadeIn 1s ease;

  & p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 15px;
  }
}
