.invalid-token-container {
    text-align: center;
    padding: 100px;
  }
  
  .invalid-token-container h1 {
    font-size: 7rem;
    color: #ff0000;
    margin-bottom: 20px;
    animation: bounce 1s infinite;
  }
  
  .invalid-token-container h4, p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    color: #343a40;
  }
  
  .invalid-token-custom-button {
    background-color: #0056b3;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .invalid-token-custom-button:hover {
    background-color: #004b99;
    transform: scale(1.05);
  }
  
  .invalid-token-custom-button:active {
    transform: scale(1);
  }
  
  .invalid-token-custom-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  