html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: fadeIn 1s ease;
}

.login-logo-container {
  margin-bottom: 10px;
}

.logo-dev {
  margin: 10px;
  width: 150px;
  height: auto;
  transition: transform 0.3s, filter 0.3s;
}

.logo-dev:hover {
  transform: scale(1.1);
  filter: brightness(0.9);
}

.login-card-custom {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #fff;
}

.login-card-header-custom {
  color: #fff;
  background-color: #081a89;
  border-radius: 15px 15px 0 0;
  text-align: center;
  padding: 20px;
}

.login-card-header-custom h4 {
  margin: 0;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card-body {
  padding: 15px;
}

.login-form-label {
  color: #004f98;
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}

.login-form-control-custom {
  width: 97%;
  margin: 5px 0px 10px 0px;
  padding: 15px 0px 15px 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: border-color 0.3s;
  color: #1684bf;
  font-size: 14px;
}

.login-form-control-custom::placeholder {
  color: #1684bf;
}

.login-form-control-custom:focus {
  box-shadow: none;
  border-color: #1684bf;
}

.login-email-container {
  margin-bottom: 5px;
  position: relative;
}

.login-password-container {
  margin-bottom: 5px;
  position: relative;
}

.login-password-toggle {
  position: absolute;
  top: 48%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  color: #0056b3;
}

.login-password-toggle:hover {
  cursor: pointer;
}

.login-button-custom {
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: bold;
}

.login-button-custom:hover {
  background-color: #081a89;
}

.login-forgot-password {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.login-forgot-password a {
  color: #1684bf;
  text-decoration: none;
  text-decoration: underline;
}

.login-alert-custom {
  margin-bottom: 15px;
  text-align: center;
  padding: 7px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb !important;
  color: #721c24 !important;
}

@media (max-width: 430px) {
  .form-control-custom {
    padding: 10px;
  }
}
