html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: fadeIn 1s ease;
}

.request-logo-container {
    margin-bottom: 10px;
}

.request-logo-dev {
    margin: 10px;
    width: 150px;
    height: auto;
    transition: transform 0.3s, filter 0.3s;
}

.request-logo-dev:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

.request-card-custom {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #fff;
}

.request-card-header-custom {
    color: #fff;
    background-color: #081a89;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 20px;
}

.request-card-header-custom h4 {
    margin: 0;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request-card-body {
    padding: 15px;
}

.request-form-label {
    color: #004F98;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

.request-form-control-custom {
    width: 97%;
    margin: 5px 0px 10px 0px;
    padding: 15px 0px 15px 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
    color: #1684BF;
    font-size: 14px;
}

.request-form-control-custom::placeholder {
    color: #1684BF;
}

.request-form-control-custom:focus {
    box-shadow: none;
    border-color: #1684BF;
}

.request-email-container {
    margin-bottom: 5px;
    position: relative;
}

.request-password-container {
    margin-bottom: 5px;
    position: relative;
}

.request-password-toggle {
    position: absolute;
    top: 48%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
    border: none;
    color: #0056b3;
}

.request-password-toggle:hover {
    cursor: pointer;
}

.request-button-custom {
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: bold;
}

.request-button-custom:hover {
    background-color: #081a89;
}

.request-back-login {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.request-back-login a {
    color: #1684BF;
    text-decoration: none;
    text-decoration: underline;
}

.request-alert-custom {
    margin-bottom: 15px;
    text-align: center;
    padding: 7px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb !important;
    color: #721c24 !important;
}

@media (max-width: 430px) {
    .form-control-custom {
        padding: 10px;
    }
}