html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.request {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.request-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  gap: 20px;
  animation: fadeInZoom 0.8s ease-out;
}

.logo {
  transition: transform 0.3s, filter 0.3s;
}

.logo img {
  width: 160px;
}

.logo:hover {
  transform: scale(1.1);
  filter: brightness(0.9);
}

.request-card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--card-bg);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.request-card-header {
  padding: 10px;
  color: #fff;
  background-color: #081a89;
  text-align: center;
}

.request-card-header h4 {
  margin: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}

.request-card-body {
  padding: 20px;
}

.request-form-label {
  margin-left: 5px;
  color: #004f98;
  font-size: 1.1rem;
  font-weight: bold;
}

.request-form-control {
  width: 94%;
  margin: 10px 0px 10px 0px;
  padding: 15px 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #0056b3;
  transition: border-color 0.3s ease;
}

.request-form-control::placeholder {
  color: #1684bf;
}

.request-form-control:focus {
  border-color: #1684bf;
  outline: none;
}

.request-email-container {
  margin-bottom: 5px;
}

.request-back-login {
  text-align: right;
  margin: 0 5px 10px 0;
  font-size: 0.8rem;
}

.request-back-login a {
  color: #1684bf;
  text-decoration: none;
  text-decoration: underline;
  transition: color 0.3s;
}

.request-back-login a:hover {
  color: #0056b3;
}

.request-button {
  width: 100%;
  padding: 12px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.request-button:hover {
  background-color: #081a89;
}

.request-alert {
  background-color: var(--error-bg);
  border: var(--error-border);
  color: var(--error-text);
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

@media (max-width: 430px) {
  .request-container {
    padding: 0 15px;
  }

  .logo {
    width: 140px;
  }
}
