/* Telas médias */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .login-container {
    width: 95%;
    padding: 0 20px;
  }
}

/* Telas pequenas */
@media (max-width: 430px) {
  .logo img {
    width: 140px;
  }

  .button {
    min-height: 44px;
    font-size: 0.9rem;
  }
}
