.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.search-input {
  width: 170px;
  height: 30px;
  padding-left: 10px;
  font-size: 1rem;
  color: #081a89;
  border: 1px solid #081a89;
  border-radius: 5px 0 0 5px;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.search-input::placeholder {
  color: #081a89;
}

.search-input:value {
  color: #081a89;
}

.search-input:focus {
  outline: none;
  border-color: #004f98;
  box-shadow: 0 0 5px rgba(0, 79, 151, 0.3);
}

.search-input:hover {
  transform: scale(1.03);
}

.search-button {
  background-color: #081a89;
  border: none;
  color: #fff;
  padding: 0 12px;
  border-radius: 0 5px 5px 0;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #004f98;
  cursor: pointer;
}

.search-button svg {
  font-size: 16px;
}

@media (max-width: 768px) {
  .search-input {
    width: 180px;
  }

  .search-button {
    padding: 6px 10px;
    height: 36px;
  }
}
