:root {
  /* FONT */
  --font-dm-sans: "DM Sans", sans-serif;

  /* CARD */
  --border-radius: 15px;
  --card-bg: #fff;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  /* SUCESS */
  --success-bg: #d4edda;
  --success-border: 1px solid #c3e6cb;
  --success-text: #155724;

  /* ERROR */
  --error-bg: #f8d7da;
  --error-border: 1px solid #f5c6cb;
  --error-text: #721c24;
}
